@charset "UTF-8";
body {
  background-color: #FFFFFF;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  color: currentcolor;
  text-decoration: none;
}

.section {
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  color: #2E2F42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.card-title {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.card-thumb-text, .card-text, .hero-title, .section-title, .card-title {
  letter-spacing: 0.02em;
}

.conteiner {
  margin: 0 auto;
  padding: 0 15px 0;
  max-width: 428px;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1158px;
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.header-section {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .header-conteiner {
    align-items: center;
  }
}

.header-logo {
  display: block;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 76px;
  }
}

.header-nav {
  display: flex;
}
.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

.nav-link {
  position: relative;
  color: #2E2F42;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: #404BBF;
}
@media screen and (max-width: 767px) {
  .nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    display: block;
    font-weight: 500;
    padding: 24px 0;
  }
  .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover::after, .nav-link:focus:after {
    transform: scaleX(1);
  }
}

.current {
  color: #404BBF;
}

.current::after {
  transform: scaleX(1);
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

.contact-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1199px) {
  .contact-list {
    flex-direction: column;
    gap: 8px;
  }
}

.contact-link {
  font-style: normal;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 1199px) {
  .contact-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-link {
    display: block;
    padding: 24px 0;
  }
}
.contact-link:hover, .contact-link:focus {
  color: #404BBF;
}

.menu-toggle {
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.icon-hamburger {
  stroke: #2E2F42;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  margin-bottom: 80px;
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    margin-bottom: 284px;
  }
}
.mobile-menu li:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contact {
  margin-bottom: 48px;
}

.mobile-contact-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #4D5AE5;
}
@media screen and (min-width: 480px) {
  .mobile-contact-link {
    font-size: 36px;
  }
}

.mobail-social-list {
  display: flex;
  justify-content: space-between;
}

.hero-section {
  background-color: #2E2F42;
}
.hero-conteiner {
  text-align: center;
}

.hero-background {
  padding: 112px 0;
  max-width: 1440px;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero-background {
    padding: 112px 0 108px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-background {
    padding: 188px 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-background {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office@2x.jpg");
  }
}
.hero-title {
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 72px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin: 0 auto 48px;
  }
}

.button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #404BBF;
}

.hero-button {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.hero-button-text {
  position: relative;
  z-index: 1;
}

.liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #4D5AE5;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.liquid::after, .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000000;
}
.liquid::before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 5s linear infinite;
}
.liquid::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.hero-button:focus .liquid, .hero-button:hover .liquid {
  background-color: #404BBF;
  transform: translateY(-40px);
}

.buttons-list {
  display: flex;
  gap: 16px 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .buttons-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
    margin-bottom: 64px;
    gap: 0 24px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 72px;
  }
}

.portfolio-button {
  background-color: #F4F4FD;
  color: #4D5AE5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: #404BBF;
  color: #FFFFFF;
  border-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.is-active {
  background-color: #404BBF;
  color: #FFFFFF;
  border-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transform: scaleY(1);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow: auto;
}
@media screen and (min-width: 392px) {
  .backdrop {
    padding: 96px 0 114px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 96px 0 336px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
}

.modal {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 72px 16px 24px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
  margin: 0 auto;
}
@media screen and (min-width: 392px) {
  .modal {
    max-width: 392px;
    min-height: 586px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 576px;
    padding: 72px 24px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  font-size: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  background-color: #404BBF;
  fill: #FFFFFF;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2E2F42;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0;
}
.logo-web {
  color: #4D5AE5;
}

.social-list {
  display: flex;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #404BBF;
}
.social-icon {
  fill: #f4f4fd;
}

.portfolio-section {
  padding: 48px 0;
}
@media screen and (min-width: 768px) {
  .portfolio-section {
    padding: 64px 0 96px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 96px 0 120px;
  }
}
.portfolio-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: 360px;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  border-color: #F4F4FD;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  outline: none;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.card-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4D5AE5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .card-thumb-overlay, .portfolio-link:focus .card-thumb-overlay {
  opacity: 1;
  transform: translateY(0);
}

.card-thumb-text {
  color: #F4F4FD;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .card-thumb-text, .portfolio-link:focus .card-thumb-text {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-list {
  display: flex;
  gap: 48px;
}
@media screen and (max-width: 767px) {
  .portfolio-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

/* форма subscribe */
.subscribe-button {
  display: flex;
  padding: 8px 24px;
  box-shadow: none;
}
.subscribe-button-icon {
  fill: #FFFFFF;
  margin-left: 16px;
}

.subscribe-form {
  width: 396px;
}
@media screen and (max-width: 767px) {
  .subscribe-form {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    width: 453px;
  }
}

.subscribe-form-field {
  display: flex;
}
.subscribe-form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: unset;
  margin-bottom: 16px;
  padding: 0 16px;
  color: #FFFFFF;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-field input::-moz-placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-field input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-field input:hover, .subscribe-form-field input:focus {
  border-color: #404BBF;
  outline: #404BBF;
}
@media screen and (min-width: 768px) {
  .subscribe-form-field input {
    margin: 0 24px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .subscribe-form-field {
    flex-direction: column;
    align-items: center;
  }
}
.footer p {
  width: 265px;
  color: #E7E9FC;
  letter-spacing: 0.02em;
}
.footer b {
  display: inline-block;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.footer-logo {
  display: inline-block;
  color: #F4F4FD;
  margin-bottom: 16px;
  padding: 0;
}
.footer-link {
  background: rgba(255, 255, 255, 0.1);
}
.footer-link:hover, .footer-link:focus {
  background: #31D0AA;
}

.footer {
  background-color: #2E2F42;
}

.footer-conteiner {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-conteiner {
    justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer-conteiner {
    flex-wrap: wrap;
    gap: 72px 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box {
    margin-right: 120px;
  }
}

.footer-logo {
  display: block;
  color: #F4F4FD;
  margin-bottom: 16px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .footer b {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    text-align: center;
  }
}/*# sourceMappingURL=portfolio.css.map */