// .client {
//     &-section {
//         padding-top: 130px;
//     }

//     &-list {
//         display: flex;
//         gap: 24px;
//     }

//     &-link {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 168px;
//         height: 88px;
//         color: #8E8F99;
//         border: 1px solid #8E8F99;
//         border-radius: 4px;
//         overflow: hidden;
//         transition: color $transition-primari, border-color $transition-primari;

//         &:hover,
//         &:focus {
//             border-color: $pressed-state;
//             color: $pressed-state;
//         }
//     }

//     &-logo {
//         fill: currentColor;
//     }
// }



// .client-section{
//     padding-top: 96px;
//     @media screen and (min-width: 428px){

//     }
//     @media screen and (min-width: 768px){

//     }
//     @media screen and (min-width: 1200px) {

//     }
// }


// .client-list {
//     display: flex;
//     flex-wrap: wrap;
//     @media screen and (min-width: 428px) {}

//     @media screen and (min-width: 768px) {}

//     @media screen and (min-width: 1200px) {}
// }

// .client-item {
//     @media screen and (min-width: 428px) {}

//     @media screen and (min-width: 768px) {}

//     @media screen and (min-width: 1200px) {}
// }

// .client-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 88px;
//     color: #8E8F99;
//     border: 1px solid #8E8F99;
//     border-radius: 4px;
//     overflow: hidden;
//     transition: color $transition-primari, border-color $transition-primari;
//     &:hover,
//     &:focus {
//         border-color: $pressed-state;
//         color: $pressed-state;
//     }

//     @media screen and (min-width: 428px) {
//         width: calc((100% - 2 * 16) / 2);
//     }

//     @media screen and (min-width: 768px) {
//         width: 168px;
//     }

//     @media screen and (min-width: 1200px) {}
// }


// .client-logo{
//     fill: currentColor;
// }


// .client-section{
//     @media screen and (min-width: 480px) {
//         padding: 96px 0;
//     }

//     @media screen and (min-width: 768px) {

//     }

//     @media screen and (min-width: 1200px) {

//     }
// }

// .client-list{
//     @media screen and (min-width: 480px) {
//         display: flex;
//         flex-wrap: wrap
//     }
    
//     @media screen and (min-width: 768px) {
        
//     }

//     @media screen and (min-width: 1200px) {}

//  }


// .client-link{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 168px;
//     height: 88px;
//     color: #8E8F99;
//     border: 1px solid #8E8F99;
//     border-radius: 4px;
//     overflow: hidden;
//     transition: color $transition-primari, border-color $transition-primari;
//     &:hover,
//     &:focus {
//         border-color: $pressed-state;
//         color: $pressed-state;
//     }

// }

// .client {
//     &-section {
//         padding-top: 130px;
//     }

//     &-list {
//         display: flex;
//     }
//     &-item{
//         height: 88px;

//     }
//     &-link {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         height: 100%;
//         color: #8E8F99;
//         border: 1px solid #8E8F99;
//         border-radius: 4px;
//         overflow: hidden;
//         transition: color $transition-primari, border-color $transition-primari;

//         &:hover,
//         &:focus {
//             border-color: $pressed-state;
//             color: $pressed-state;
//         }
//     }

//     &-logo {
//         fill: currentColor;
//     }
// }

// @media screen and (min-width: 480px) {
//     .client {
//         &-section {
//             padding: 96px 0;
//         }

//         &-list {
//             flex-wrap: wrap;
//             margin: 0 -16px 0;
//         }
//         &-link{
//         }
//         &-item{
//             width: calc((100% - 4 * 16px)/ 2);
//             margin: 16px;
//         }

//     }
// }



// @media screen and (max-width: 767px){
//     .client{
//         &-list {
//             justify-content: space-evenly;
//         }
//         &-item {
//             margin-top: 72px;
//             &:nth-child(-n + 2) {
//                 margin-top: 0;
//             }
//         }
//     }
// }





// @media screen and (min-width: 768px) {
//     .client {
//         &-list{
//             margin: 0 -24px;
//         }
//         &-item{
//             width: calc((100% - 6 * 24px)/ 3);
//         }
//     }
    
// }



.client-list{
    display: flex;
    gap: 72px 16px;
    @media screen and (min-width: 768px) {
        gap: 72px 24px;
    }
    @media screen and  (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: center;
    }

}

.client-item{
    width: 190px;
    height: 88px;
    @media screen and (min-width: 768px) {
        width: 168px;
    }
}


.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    overflow: hidden;
    transition: color $transition-primari, border-color $transition-primari;
    &:hover, &:focus {
        border-color: $pressed-state;
        color: $pressed-state;
        }
}


.client-logo{
    fill: currentColor;
}