.header-section {
    border-bottom: 1px solid $accent-color;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1199px) {
        align-items: center
    }

}

.header-logo{
    display: block;
    padding: 24px 0;
    @media screen and (min-width: 768px) {
        margin-right: 120px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 76px;
    }
}

.header-nav{
    display: flex;
    @media screen and (min-width: 768px) {
        
    }
}

.nav-list{
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 40px;
    }
}


.nav-link {
    position: relative;
    color: $title-text-color;
    letter-spacing: 0.02em;
    transition: color $transition-primari;
    &:hover,
    &:focus {
        color: $pressed-state;
    }
    @media screen and (max-width: 767px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
    }
    @media screen and (min-width: 768px) {
        display: block;
        font-weight: 500;
        padding: 24px 0;
        &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $pressed-state;
        transform: scaleX(0);
        transition: transform $transition-primari;
    }

    &:hover::after,
    &:focus:after {
        transform: scaleX(1);
    }
    }
}

.current {
    color: $pressed-state;
}

.current::after {
    transform: scaleX(1);
}

.contact {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}
.contact-list{
    display: flex;
    gap: 40px;
    @media screen and (max-width: 767px) {
        // flex-direction: column-reverse;
    }
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        gap: 8px;
    }
}
.contact-link {
    font-style: normal;
    letter-spacing: 0.02em;
    transition: color $transition-primari;
    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
        display: block;
        padding: 24px 0;
    }
    &:hover,
    &:focus {
        color: $pressed-state;
    }
}

