.hero {
    &-section {
        background-color: $title-text-color;
    }

    &-conteiner {
        text-align: center;
    }
}


.hero-background {
    padding: 112px 0;
    max-width: 1440px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    @media screen and (min-width: 768px) {
        padding: 112px 0 108px;
    }

    @media screen and (min-width: 1200px) {
        padding: 188px 0;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-background {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../../images/people-office@2x.jpg');
    }
}


.hero-title {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: $white-color;
    @extend %letter-spacing;
    margin: 0 auto 72px;
    @media screen and (min-width: 768px) {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 40px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 auto 48px;
    }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}