body {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.list {
    list-style-type: none;
}

.link {
    color: currentcolor;
    text-decoration: none;
}

.section {
    padding: 96px 0;
    @media screen and (min-width: 1200px) {
        padding: 120px 0;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}